body {
    background-color: darkslategrey;
};
 .heading {
color: crimson;
text-transform: uppercase;
text-align: center;
 }
 .month {
     border-style: dashed;
     border-color: pink;
     border-width: 3px;
 };

 .day {
     color: deeppink;
     display: inline-block;
     width: 97px;
     height: 97px;
     
 }
 .day:hover {
     background-color: white;
     cursor: pointer;
 }